//
// Custom
//

@use 'sass:map';

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) +
		map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

// Correção para labels no dark mode
@include dark-mode(true) {
	.form-label {
		&.label-dark-mode {
			background-color: transparent !important;
			
			&::after {
				background-color: transparent !important;
			}
		}
	}
}

.bg-transparent-after::after {
	background-color: transparent !important;
}